<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="23026a.u.wong.FruitJump" Version="1.0.0.0" Publisher="CN=46B7C2BA-23F0-49C2-9D2E-2C5A83E11F70" />
  <Properties>
    <DisplayName>Fruit Jump</DisplayName>
    <Description>Infinite Jump involving an ice cube dude and fruits</Description>
    <PublisherDisplayName>a.u.wong</PublisherDisplayName>
    <Logo>app-storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <VisualElements DisplayName="Fruit Jump" Logo="app-logo.png" SmallLogo="app-smalllogo.png" Description="Infinite Jump involving an ice cube dude and fruits" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>